#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
    background: white;
    color: #E8E8E8;
}
#footer-center{
    position: relative;
    height: 14em;
    display: flex;
    justify-content: center; 
}

#footer-center>img{
    z-index: 1;
    height: 13em;
    width: 13em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}
#footer-center>p{
    font-family: 'CustomFont2', sans-serif;
    margin-top: 2.2em;
    color: #a3a3a3;
    font-size: 2em;
    z-index: 2;
}
@media (max-width: 1100px) {
    #contact-form{
        width: 95vw;
    }
}

@media (min-height: 2500px) {
    #footer{
        font-size: 20px;
    }
}