#landing-page{
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-theme-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
#landing-page-container{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 3500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
#landing-page-content-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 50em;
}

@keyframes zap {
  0%{
    opacity: 0.6;
  }
  30%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}
#name{
    margin-top: 0.5em;
    font-size: 12em;
    -webkit-text-stroke: 2px var(--theme-color);
    color: transparent;
    animation: zap 0.4s ease 2.7s forwards;
    text-align: center;
}
#landing-img-container{
    position: absolute;
    right: 2%;
    margin-top: auto;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
}
#web-img{
    height: 100%;
    width: 100%;
    position: absolute;
}
#position-title{
    margin-top: 0.5em;
    font-size: 3em;
    color: hsl(212, 75%, 90%);
}
#position-title > span{
    -webkit-text-stroke: 2px var(--theme-color);
    color: transparent;
}
#landing-page-navigation{
    font-size: 1.5em;
    margin-top: 3em ;
}
a{
    /* user-select: none; */
    text-decoration: none;
    color: hsl(212, 75%, 90%);
}
a, b {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
}
a:hover{
    color: transparent;
    -webkit-text-stroke: 1px var(--theme-color);
}
.separator {
    color: var(--theme-color);
    font-size: 1.3em;
    margin: 0 1em; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    line-height: 1;
    cursor: default;
  }
