   #mouse-scroll-icon-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
    width: 10em;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
  #scroll-mouse-container {
    display: flex;
    justify-content: center;
    height: 4.8em;
    width: 2.5em;
    border: 2px solid var(--mainColor);
    border-radius: 5em;
    animation: mouse-down 2.5s ease infinite;
  }
  
  #mouse-wheel {
    margin-top: 1em;
    height: 0.8em;
    width: 0.5em;
    background-color: var(--theme-color);
    border-radius: 50%;
    animation: scroll-wheel 2.5s ease infinite;
  }
  
  #scroll-arrows::before {
    animation: top-arrow-animation 2.5s ease infinite;
  }
  
  #scroll-arrows::before,
  #scroll-arrows::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 53%;
    height: 1.6em;
    width: 1.6em;
    border: 2px solid var(--mainColor);
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
  }
  
  #scroll-arrows::after {
    top: 63%;
    animation: bottom-arrow-animation 2.5s ease infinite;
  }
  
@keyframes mouse-down {
    7%{
        transform: translateY(0);
        opacity: 1;
    }
    30%{
        transform: translateY(0.5em);
        opacity: 0.5;
    }
    58%{
        transform: translateY(0.5em);
        opacity: 0.5;
    }
    90%{
        transform: translateY(0);
        opacity: 1;
    }  
}
@keyframes scroll-wheel {
    7%{
        opacity: 1;
        transform: translateY(0);
    }
    24%{
        opacity: 0;
        transform: translateY(1.5em);
    }
    57%{
        transform: translateY(1.5em);
        opacity: 0;
    }
    80%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes top-arrow-animation {
    18%{
        border-color: var(--mainColor);
    }
    22%{
        border-color: var(--theme-color);
        top: 53%;
    }
    33%{
        top: 56%;
        border-color: var(--mainColorDimmed);
    }
    53%{
        border-color: var(--mainColorDimmed);
    }
    55%{
        top: 56%;
        border-color: var(--theme-color);
    }
    65%{
        border-color: var(--theme-color);
        top: 52%;
    }
    67%{
        border-color: var(--mainColor80);
        top: 52%;
    }
    72%{
        border-color: var(--mainColor80);
        top: 53%;
    }
    90%{
        border-color: var(--mainColor);
    }
  
}
@keyframes bottom-arrow-animation {
  
    22%{
        border-color: var(--mainColor);
    }
    33%{
        border-color: var(--theme-color);
        top: 63%;
    }
    44%{
        top: 68%;
        
    }
    53%{
        border-color: var(--theme-color);
    }
    54%{
        border-color: var(--mainColorDimmed);
    }
    55%{
        top: 63%;
    }
    65%{
        border-color: var(--mainColorDimmed);

    }
    90%{
        border-color: var(--mainColor);
    }
  
}

@media (max-width: 1100px){
    #mouse-scroll-icon-container{
        font-size: 7px;
        top: 80vh;
    }
}

@media (max-width: 1100px) and (min-height: 2000px) {
    #mouse-scroll-icon-container{
        font-size: 25px;
        top: 80vh;
    }
}
@media (min-height: 2500px){
    #mouse-scroll-icon-container{
        font-size: 30px;
        top: 80vh;
    }
}
@media (max-width: 800px){
    #mouse-scroll-icon-container{
        font-size: 7px;
        top: 90vh;
    }
}



