#technologies{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background: var(--theme-color);
}
#tech-container{
    padding-top: 9em;
    padding-bottom: 9em;
}