:root{
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
}
#landing-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #1B1B1B
}
#landing-page-content-container{
    width: 50em;
    height: 50em;
    border:1px solid white;
    margin: auto;
}
#mouse-scroll-icon-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
    width: 10em;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    border:1px solid white;
}
@keyframes mouse-down {
    7%{
        transform: translateY(0);
        opacity: 1;
    }
    22%{
        transform: translateY(0.5em);
        opacity: 0.5;
    }
    65%{
        transform: translateY(0.5em);
        opacity: 0.5;
    }
    90%{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes scroll-wheel {
    7%{
        opacity: 1;
        transform: translateY(0);
    }
    22%{
        opacity: 0;
        transform: translateY(1.4em);
    }
    65%{
        transform: translateY(1.4em);
        opacity: 0;
    }
    90%{
        transform: translateY(0);
        opacity: 1;
    }
}
#scroll-mouse-container{
    display: flex;
    justify-content: center;
    height: 4.8em;
    width: 2.5em;
    border:2px solid rgb(230, 221, 221);
    border-radius: 5em;
    animation: mouse-down 2.5s ease infinite;
}
#mouse-wheel{
    margin-top: 1em;
    height: 0.6em;
    width: 0.6em;
    background-color: aqua;
    border-radius: 50%;
    animation: scroll-wheel 2.5s ease infinite;
}
#scroll-arrows::before{
    animation: top-arrow-animation 2.5s ease infinite;
}
#scroll-arrows::before,
#scroll-arrows::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 55%;
    height: 1.6em;
    width: 1.6em;
    border:2px solid rgb(227, 224, 224);
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
}
#scroll-arrows::after{
    top: 65%;
    animation: bottom-arrow-animation 2.5s ease infinite;
}
@keyframes top-arrow-animation {
    18%{
        border-color: rgb(227, 224, 224);
    }
    22%{
        border-color: aqua;
        top: 55%;
    }
    33%{
        top: 60%;
        border-color: rgb(227, 224, 224);
    }
    44%{
        
    }
    90%{
        border-color: rgb(227, 224, 224);
    }
  
}
@keyframes bottom-arrow-animation {
  
    22%{
        border-color: rgb(227, 224, 224);
    }
    33%{
        border-color: aqua;
        top: 65%;
    }
    44%{
        top: 70%;
        border-color: rgb(227, 224, 224);
    }
    90%{
        border-color: rgb(227, 224, 224);
    }
  
}